/* assets/style.css */
.slider-container {
    width: 90%;
    margin: auto;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.rc-slider-track {
    position: absolute;
    left: 0;
    height: 4px;
    border-radius: 6px;
    background-color: #4CAF50;
}

.rc-slider-handle {
    position: absolute;
    width: 14px;
    height: 14px;
    cursor: pointer;
    cursor: -webkit-grab;
    margin-top: -5px;
    cursor: grab;
    border-radius: 50%;
    border: solid 2px #4CAF50;
    background-color: #fff;
    touch-action: pan-x;
}

.rc-slider-dot-active {
    border-color: #4CAF50;
}

.rc-slider-handle:active {
    border-color: #4CAF50;
    box-shadow: 0 0 5px #4CAF50;
    cursor: -webkit-grabbing;
    cursor: grabbing;
}
